.password-login{
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    height: 37px;
    left: 447px;
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.password-login input{
    border: none;
    width: 90%;
    height: 100%;
    border: 1px solid #ced4da;
}
.first-login-btn{
    background: #FC4949;
    border-radius: 5px;
    position: absolute;
    width: 222px;
    height: 41px;
    left: 270px;
    top: 400px;
}
.forgot-password{
    position: absolute;
    width: 227px;
    height: 18px;
    left: 480px;
    top: 380px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #B1AFAF;
}
.dont-have-account{
    position: absolute;
    width: 327px;
    height: 18px;
    left: 100px;
    top: 380px;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #B1AFAF; 
}